<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout_admin :: main-fragment(
                                                ~{:: title},
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">

<head>
  <title>Dashboard</title>

  <th:block id="css-resources">

  </th:block>
</head>
<body>
<th:block id="css-resources">

</th:block>
<div class="container-fluid">
  <main id="main-content">
    <div>
      <h2>Quản Lý tin đăng bán</h2>
      <a th:href="@{/admin/tindangthue/new}">Tạo  Một Tin Đăng Thuê</a>
    </div>

    <div th:if="${message} != null" class="alert alert-success text-center">
      [[${message}]]
    </div>
    <form   th:action="@{'/admin/tindangthue/search'}" method="get">
      <input  type="text" name="keyword"  th:value="${keyword}" id="tt8" class="form-control shadow-none" placeholder="Search For a Keyword">
      <button type="submit" value="Search" class="btn btn-secondary"  >
        Tìm Kiếm
      </button>
    </form>
    <div>
      <table class="
            table table-bordered table-striped table-hover table-responsive-xl
          ">
        <thead class="thead-dark">
        <tr>
          <th>Id</th>
          <th>Tên Tin Đăng</th>
          <th>Diện Tích </th>
          <th>Giá </th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tdt : ${listTinDangThue}">
          <td>[[${tdt.id}]]</td>
          <td><a th:href="@{'/admin/tindangthue/detail/' + ${tdt.id}}">[[${tdt.title}]]</a></td>
          <td>[[${tdt.dienTich}]]</td>
          <td>[[${tdt.giaBan}]]</td>
          <td><a class="fas fa-edit fa-2x icon-green" th:href="@{'/admin/tindangthue/edit/' + ${tdt.id}}"
                 title="Edit Tin"></a>
            &nbsp;
            <a  class="fas fa-trash fa-2x icon-dark link-delete"
                data-toggle="modal" data-target="#exampleModal"
                title="Delete Tin"></a>
          </td>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Bạn có muốn xoá tin đăng  [[${tdt.id}]]
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary"><a th:href="@{'/admin/tindangthue/delete/' + ${tdt.id}}" >Xoá</a></button>
                </div>
              </div>
            </div>
          </div>
        </tr>
        </tbody>
      </table>
    </div>

    <div style="text-align: center">
      <a style="color: #EEBC1D" th:if="${currentPage>1}" th:href="@{'/admin/tindangthue/page/1'+'?keyword='+${keyword}}">First</a>
      <span style="color: #EEBC1D" th:unless="${currentPage>1}">First</span>

      <a style="color: #EEBC1D" th:if="${currentPage > 1}" th:href="@{'/admin/tindangthue/page/' + ${currentPage - 1} +'?keyword='+${keyword}}">Previous</a>
      <span  th:unless="${currentPage > 1}"></span>
      <span th:each="i:${#numbers.sequence(1,totalPages)}">
            <a style="color: #EEBC1D" th:if="${i != currentPage}" th:text="${i}" th:href="@{'/admin/tindangthue/page/' + ${i}  +'?keyword='+${keyword}}"></a>
            <span style="color: #EEBC1D" th:unless="${i != currentPage}" th:text="${i}"></span>
            &nbsp;&nbsp;
    </span>

      <a style="color: #EEBC1D" th:if="${currentPage < totalPages}" th:href="@{'/admin/tindangthue/page/' + ${currentPage + 1}  +  '?keyword=' + ${keyword}}">Next</a>
      <span  th:unless="${currentPage < totalPages}"></span>
      <a style="color: #EEBC1D" th:if="${currentPage < totalPages}" th:href="@{'/admin/tindangthue/page/' + ${totalPages}  + '?keyword=' +${keyword}}">Last</a>
      <span th:unless="${currentPage < totalPages}">Last</span>

    </div>
  </main>
</div>
<th:block id="js-resources">

</th:block>
</body>
</html>
