<!DOCTYPE html>
<html lang="en">
<head th:replace="template.html :: header('Employers')">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-black bg-black">
  <div class="container-fluid">
    <a class="navbar-brand" style="color: gray" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active"  style="color: gray"aria-current="page" href="#">Home</a>
        <a class="nav-link" style="color: gray" href="/employer">Employer</a>
        <a class="nav-link" style="color: gray" href="/job">Job</a>
        <a class="nav-link" style="color: gray" href="/applicant">Applicant</a>
      </div>
    </div>
  </div>
</nav>
  <h1>Employers</h1>
  <a href="/employer/add">Thêm nhà tuyển dụng</a><br><br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Web Site</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="employer, iStat:${employers}">
        <th scope="row" th:text="${iStat.index} +1"></th>
        <td><a th:href="|/employer/${employer.id}|" th:text="${employer.name}"></a></td>
        <td><a th:href="${employer.website}" th:text="${employer.website}" target="_blank"></a></td>
        <td th:text="${employer.email}">hr@acme.com</td>
      </tr>     
    </tbody>
</body>
</html>